@model ProfileViewModel


<link rel="stylesheet" href="~/css/fb-profile.css" type="text/css" media="all" />
@if (Model != null || Model.User != null)
{
    <div class="container">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="~/images/3.jpg" alt="Profile banner" />
            <img align="left" class="fb-image-profile thumbnail" src="~/images/user.jpg" alt="Avatar" />
            <div class="fb-profile-text">
                <h1>@Model.User.UserName</h1>
                <p>@Model.User.Email</p>
            </div>
        </div>
        <hr />
        <div>
            <div class="tittle-head">
                <h4 class="latest-text-profile">Оценённые фильмы</h4>
            </div>
            <div class="container">
                <div class="browse-inner" data-movie_count="@Model.UserMovies.Count()">
                    @foreach (var movie in Model.UserMovies)
                    {
                        @Html.Partial("MovieBlock", movie)
                    }

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="fb-profile">
            <h1>Пользователь с таким именем не найден!</h1>
            <a asp-action="Index" asp-controller="Movie">Вернуться на главную</a>
        </div>
    </div>
}

