<ul class="dropdown-menu multi-column columns-3">
    <li>
        <div class="col-sm-4">
            <ul class="multi-column-dropdown">
                <li><a href="genres.html">Asia</a></li>
                <li><a href="genres.html">France</a></li>
                <li><a href="genres.html">Taiwan</a></li>
                <li><a href="genres.html">United States</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="multi-column-dropdown">
                <li><a href="genres.html">China</a></li>
                <li><a href="genres.html">HongCong</a></li>
                <li><a href="genres.html">Japan</a></li>
                <li><a href="genres.html">Thailand</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="multi-column-dropdown">
                <li><a href="genres.html">Euro</a></li>
                <li><a href="genres.html">India</a></li>
                <li><a href="genres.html">Korea</a></li>
                <li><a href="genres.html">United Kingdom</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </li>
</ul>